@{
    ViewData["Title"] = "О программе";
}

<div class="text-center">
    <div><img src="~/logo.png" alt="Logo" height="300" width="300"></div>
    <div class="align-content-center btn-group-justified">
        Планировщик задач (тайм-менеджер) с гибким алгоритмом. Версия 0.0.1
        Исходный код распространяется по лицензии Apache2
        <a href="https://github.com/Rokoth/Planning">Git repositiry</a>
        ©Dmitriy Rokoth 2021-2023
    </div>
</div>
