@model Planning.Contract.Model.FormulaCreator

@{
    ViewData["Title"] = "Добавить формулу";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDefault" class="control-label"></label>
                <input asp-for="IsDefault" class="form-control" />
                <span asp-validation-for="IsDefault" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-dark" />
                <a asp-action="Details" class="btn btn-dark">Вернуться</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
