################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Client/App/Project/Project/bin/Debug
/Client/App/Project/.vs/Project/v16
/Client/App/Project/Project/obj/Debug
/Server/App/Planning/.vs/Planning
/Server/App/Planning/Contract/obj
/Server/App/Planning/DB/bin/Debug/netcoreapp3.1
/Client/App/Project/Project/Properties
/Server/App/Planning/DB/obj
/Server/App/Planning/Planning/obj
/Server/App/Planning/Planning/Properties
/Server/App/Planning/Service/obj
/Server/App/Planning/Client/bin/Debug
/Server/App/Planning/Client/obj/Debug
/Server/App/Planning/Client/Properties
/Server/App/Planning/Common/bin/Debug/netstandard2.0
/Server/App/Planning/Common/obj
/Server/App/Planning/Contract/bin/Debug/netcoreapp3.1
/Server/App/Planning/DbClient/bin/Debug/netstandard2.0
/Server/App/Planning/DbClient/obj
/Server/App/Planning/packages
/Server/App/Planning/Planning/bin/Debug/netcoreapp3.1
/Server/App/Planning/Service/bin/Debug/netcoreapp3.1
