################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Client/App/Project/Project/bin/Debug
/Client/App/Project/.vs/Project/v16
/Client/App/Project/Project/obj/Debug
/Server/App/Planning/.vs/Planning
/Server/App/Planning/Contract/obj
/Server/App/Planning/DB/bin/Debug/netcoreapp3.1
/Client/App/Project/Project/Properties
/Server/App/Planning/DB/obj
/Server/App/Planning/Planning/obj
/Server/App/Planning/Planning/Properties
/Server/App/Planning/Service/obj
/Server/App/Planning/Client/bin/Debug
/Server/App/Planning/Client/obj/Debug
/Server/App/Planning/Client/Properties
/Server/App/Planning/Common/bin/Debug/netstandard2.0
/Server/App/Planning/Common/obj
/Server/App/Planning/Contract/bin/Debug/netcoreapp3.1
/Server/App/Planning/DbClient/bin/Debug/netstandard2.0
/Server/App/Planning/DbClient/obj
/Server/App/Planning/packages
/Server/App/Planning/Planning/bin/Debug/netcoreapp3.1
/Server/App/Planning/Service/bin/Debug/netcoreapp3.1
/Server/App/Planning/Deploy/obj
/Server/App/Planning/Deploy/bin/Debug/netcoreapp3.1
/Server/App/Planning/Planning/Planning.csproj.user
/Server/App/Planning/Contracts/bin/Debug/netstandard2.0
/Server/App/Planning/Contracts/obj/Debug/netstandard2.0
/Server/App/Planning/Contracts/obj
/Docs/TechTask/0.0.1/~$chTask 0.0.7.docx
/Server/App/Planning/ClientHttpClient/obj/Debug/netstandard2.0
/Server/App/Planning/ClientHttpClient/obj
/Server/App/Planning/ClientHttpClient/bin/Debug/netstandard2.0
/Server/App/Planning/UnitTests/bin/Debug/netcoreapp3.1
/Server/App/Planning/UnitTests/obj
/Docs/Architect/Planning 0.0.2.ldb
/Docs/TechTask/0.0.1/~$chTask 0.0.11.docx
/Server/App/Planning/Migrator/bin/Debug/netcoreapp3.1
/Server/App/Planning/Migrator/obj
/Server/App/Planning/Migrator/Migrator.csproj.user
